openmanager/Library 3.15.1/JBCStationControllerSrv/Service References/JBCTraceControllerServiceReference/JBCTraceController.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/JBCTraceController" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/JBCTraceController" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ErrorTrace">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Operacion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ErrorTrace" nillable="true" type="tns:ErrorTrace" />
  <xs:complexType name="ArrayOfStructures.OptionsPort">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Structures.OptionsPort" type="tns:Structures.OptionsPort" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStructures.OptionsPort" nillable="true" type="tns:ArrayOfStructures.OptionsPort" />
  <xs:complexType name="Structures.OptionsPort">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence />
  </xs:complexType>
  <xs:element name="Structures.OptionsPort" nillable="true" type="tns:Structures.OptionsPort" />
  <xs:simpleType name="Structures.TypeNotification">
    <xs:restriction base="xs:string">
      <xs:enumeration value="eInformation" />
      <xs:enumeration value="eAlert" />
      <xs:enumeration value="eError" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Structures.TypeNotification" nillable="true" type="tns:Structures.TypeNotification" />
  <xs:complexType name="Structures.HelpResource">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Structures.HelpResource" nillable="true" type="tns:Structures.HelpResource" />
  <xs:simpleType name="Structures.TypeAccesory">
    <xs:restriction base="xs:string">
      <xs:enumeration value="eAccesory" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Structures.TypeAccesory" nillable="true" type="tns:Structures.TypeAccesory" />
  <xs:complexType name="ArrayOfStructures.StControllers">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Structures.StControllers" type="tns:Structures.StControllers" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStructures.StControllers" nillable="true" type="tns:ArrayOfStructures.StControllers" />
  <xs:complexType name="Structures.StControllers">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence />
  </xs:complexType>
  <xs:element name="Structures.StControllers" nillable="true" type="tns:Structures.StControllers" />
</xs:schema>