openmanager/Library 3.15.1/JBCHostControllerSrv/Service References/JBCUpdaterService/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/JBCUpdaterSrv" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/JBCUpdaterSrv" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="faultError">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" type="tns:dc_EnumConstJBC.dc_FaultError" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Operation" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="faultError" nillable="true" type="tns:faultError" />
  <xs:simpleType name="dc_EnumConstJBC.dc_FaultError">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NoError" />
      <xs:enumeration value="NotControlledError" />
      <xs:enumeration value="StationNotFound" />
      <xs:enumeration value="StationError" />
      <xs:enumeration value="ToolError" />
      <xs:enumeration value="NotValidTool" />
      <xs:enumeration value="FunctionNotSupported" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="dc_EnumConstJBC.dc_FaultError" nillable="true" type="tns:dc_EnumConstJBC.dc_FaultError" />
  <xs:simpleType name="dc_EnumConstJBC.dc_UpdateState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Finished" />
      <xs:enumeration value="Updating" />
      <xs:enumeration value="Failed" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="dc_EnumConstJBC.dc_UpdateState" nillable="true" type="tns:dc_EnumConstJBC.dc_UpdateState" />
</xs:schema>