openmanager/Library 3.15.1/JBCStationControllerSrv/Service References/HostControllerServiceReference/service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://JBCHostControllerSrv" elementFormDefault="qualified" targetNamespace="http://JBCHostControllerSrv" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://cad-51:8000/JBCHostControllerSrv/service?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/JBCHostControllerSrv" />
  <xs:import schemaLocation="http://cad-51:8000/JBCHostControllerSrv/service?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/JBCStationControllerSrv" />
  <xs:element name="IsAvailableRemoteServerDownload">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAvailableRemoteServerDownloadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsAvailableRemoteServerDownloadResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAvailableRemoteServerDownload">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="active" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAvailableRemoteServerDownloadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetAvailableRemoteServerDownloadResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserFilesLocalFolderLocation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserFilesLocalFolderLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserFilesLocalFolderLocationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUserFilesLocalFolderLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUserFilesLocalFolderLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetUserFilesLocalFolderLocationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckUpdate">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/JBCHostControllerSrv" minOccurs="0" name="CheckUpdateResult" nillable="true" type="q1:dc_InfoUpdateSoftware" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSystem">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUpdateSpecificTime">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUpdateSpecificTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/JBCHostControllerSrv" minOccurs="0" name="GetUpdateSpecificTimeResult" nillable="true" type="q2:dc_InfoUpdateSpecificTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUpdateSpecificTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/JBCHostControllerSrv" minOccurs="0" name="infoUpdateSpecificTime" nillable="true" type="q3:dc_InfoUpdateSpecificTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUpdateSpecificTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetUpdateSpecificTimeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUpdatePeriodicTime">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUpdatePeriodicTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/JBCHostControllerSrv" minOccurs="0" name="GetUpdatePeriodicTimeResult" nillable="true" type="q4:dc_InfoUpdatePeriodicTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUpdatePeriodicTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/JBCHostControllerSrv" minOccurs="0" name="infoUpdatePeriodicTime" nillable="true" type="q5:dc_InfoUpdatePeriodicTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUpdatePeriodicTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetUpdatePeriodicTimeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCheckPeriodicTime">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCheckPeriodicTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/JBCHostControllerSrv" minOccurs="0" name="GetCheckPeriodicTimeResult" nillable="true" type="q6:dc_InfoCheckPeriodicTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCheckPeriodicTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/JBCHostControllerSrv" minOccurs="0" name="infoCheckPeriodicTime" nillable="true" type="q7:dc_InfoCheckPeriodicTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCheckPeriodicTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetCheckPeriodicTimeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUpdateNotifications">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUpdateNotificationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/JBCHostControllerSrv" minOccurs="0" name="GetUpdateNotificationsResult" nillable="true" type="q8:dc_UpdateNotifications" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUpdateNotifications">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/JBCHostControllerSrv" minOccurs="0" name="updateNotifications" nillable="true" type="q9:dc_UpdateNotifications" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUpdateNotificationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetUpdateNotificationsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckUpdateConnectedStationController">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="swVersion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckUpdateConnectedRemoteManager">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="swVersion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckUpdateConnectedRemoteManagerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckUpdateConnectedRemoteManagerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileUpdateRemoteManager">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nSequence" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileUpdateRemoteManagerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/JBCHostControllerSrv" minOccurs="0" name="GetFileUpdateRemoteManagerResult" nillable="true" type="q10:dc_UpdateRemoteManager" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckUpdateConnectedWebManager">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="swVersion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckUpdateConnectedWebManagerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckUpdateConnectedWebManagerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileUpdateWebManager">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nSequence" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileUpdateWebManagerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/JBCHostControllerSrv" minOccurs="0" name="GetFileUpdateWebManagerResult" nillable="true" type="q11:dc_UpdateWebManager" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInfoUpdateFirmware">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/JBCStationControllerSrv" minOccurs="0" name="infoUpdateFirmware" nillable="true" type="q12:dc_FirmwareStation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInfoUpdateFirmwareResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/JBCStationControllerSrv" minOccurs="0" name="GetInfoUpdateFirmwareResult" nillable="true" type="q13:ArrayOfdc_FirmwareStation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileUpdateFirmware">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nSequence" type="xs:int" />
        <xs:element minOccurs="0" name="urlFirmwareSw" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileUpdateFirmwareResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/JBCHostControllerSrv" minOccurs="0" name="GetFileUpdateFirmwareResult" nillable="true" type="q14:dc_UpdateFirmware" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationControllerSwVersion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationControllerSwVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetStationControllerSwVersionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHostControllerSwVersion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHostControllerSwVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetHostControllerSwVersionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWebManagerSwVersion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWebManagerSwVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetWebManagerSwVersionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetWebManagerUri">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="webManagerUri" nillable="true" type="xs:anyURI" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetWebManagerUriResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterEventLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/JBCHostControllerSrv" minOccurs="0" name="eventLog" nillable="true" type="q15:ArrayOfdc_EventLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterEventLogResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>