openmanager/Manager 3.15.1/RemoteManager/Service References/HostControllerServiceReference/JBCHostControllerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://JBCHostControllerSrv" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CImplIJBCHostControllerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://JBCHostControllerSrv" location="http://cad-51:8000/JBCHostControllerSrv/service?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_IJBCHostControllerService" type="i0:IJBCHostControllerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsAvailableRemoteServerDownload">
      <soap:operation soapAction="http://JBCHostControllerSrv/IJBCHostControllerService/IsAvailableRemoteServerDownload" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="faultErrorFault">
        <soap:fault use="literal" name="faultErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SetAvailableRemoteServerDownload">
      <soap:operation soapAction="http://JBCHostControllerSrv/IJBCHostControllerService/SetAvailableRemoteServerDownload" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="faultErrorFault">
        <soap:fault use="literal" name="faultErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetUserFilesLocalFolderLocation">
      <soap:operation soapAction="http://JBCHostControllerSrv/IJBCHostControllerService/GetUserFilesLocalFolderLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="faultErrorFault">
        <soap:fault use="literal" name="faultErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SetUserFilesLocalFolderLocation">
      <soap:operation soapAction="http://JBCHostControllerSrv/IJBCHostControllerService/SetUserFilesLocalFolderLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="faultErrorFault">
        <soap:fault use="literal" name="faultErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CheckUpdate">
      <soap:operation soapAction="http://JBCHostControllerSrv/IJBCHostControllerService/CheckUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="faultErrorFault">
        <soap:fault use="literal" name="faultErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateSystem">
      <soap:operation soapAction="http://JBCHostControllerSrv/IJBCHostControllerService/UpdateSystem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetUpdateSpecificTime">
      <soap:operation soapAction="http://JBCHostControllerSrv/IJBCHostControllerService/GetUpdateSpecificTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="faultErrorFault">
        <soap:fault use="literal" name="faultErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SetUpdateSpecificTime">
      <soap:operation soapAction="http://JBCHostControllerSrv/IJBCHostControllerService/SetUpdateSpecificTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="faultErrorFault">
        <soap:fault use="literal" name="faultErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetUpdatePeriodicTime">
      <soap:operation soapAction="http://JBCHostControllerSrv/IJBCHostControllerService/GetUpdatePeriodicTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="faultErrorFault">
        <soap:fault use="literal" name="faultErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SetUpdatePeriodicTime">
      <soap:operation soapAction="http://JBCHostControllerSrv/IJBCHostControllerService/SetUpdatePeriodicTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="faultErrorFault">
        <soap:fault use="literal" name="faultErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCheckPeriodicTime">
      <soap:operation soapAction="http://JBCHostControllerSrv/IJBCHostControllerService/GetCheckPeriodicTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="faultErrorFault">
        <soap:fault use="literal" name="faultErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SetCheckPeriodicTime">
      <soap:operation soapAction="http://JBCHostControllerSrv/IJBCHostControllerService/SetCheckPeriodicTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="faultErrorFault">
        <soap:fault use="literal" name="faultErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetUpdateNotifications">
      <soap:operation soapAction="http://JBCHostControllerSrv/IJBCHostControllerService/GetUpdateNotifications" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="faultErrorFault">
        <soap:fault use="literal" name="faultErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SetUpdateNotifications">
      <soap:operation soapAction="http://JBCHostControllerSrv/IJBCHostControllerService/SetUpdateNotifications" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="faultErrorFault">
        <soap:fault use="literal" name="faultErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CheckUpdateConnectedStationController">
      <soap:operation soapAction="http://JBCHostControllerSrv/IJBCHostControllerService/CheckUpdateConnectedStationController" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="CheckUpdateConnectedRemoteManager">
      <soap:operation soapAction="http://JBCHostControllerSrv/IJBCHostControllerService/CheckUpdateConnectedRemoteManager" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="faultErrorFault">
        <soap:fault use="literal" name="faultErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetFileUpdateRemoteManager">
      <soap:operation soapAction="http://JBCHostControllerSrv/IJBCHostControllerService/GetFileUpdateRemoteManager" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="faultErrorFault">
        <soap:fault use="literal" name="faultErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CheckUpdateConnectedWebManager">
      <soap:operation soapAction="http://JBCHostControllerSrv/IJBCHostControllerService/CheckUpdateConnectedWebManager" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="faultErrorFault">
        <soap:fault use="literal" name="faultErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetFileUpdateWebManager">
      <soap:operation soapAction="http://JBCHostControllerSrv/IJBCHostControllerService/GetFileUpdateWebManager" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="faultErrorFault">
        <soap:fault use="literal" name="faultErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetInfoUpdateFirmware">
      <soap:operation soapAction="http://JBCHostControllerSrv/IJBCHostControllerService/GetInfoUpdateFirmware" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="faultErrorFault">
        <soap:fault use="literal" name="faultErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetFileUpdateFirmware">
      <soap:operation soapAction="http://JBCHostControllerSrv/IJBCHostControllerService/GetFileUpdateFirmware" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="faultErrorFault">
        <soap:fault use="literal" name="faultErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetStationControllerSwVersion">
      <soap:operation soapAction="http://JBCHostControllerSrv/IJBCHostControllerService/GetStationControllerSwVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="faultErrorFault">
        <soap:fault use="literal" name="faultErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetHostControllerSwVersion">
      <soap:operation soapAction="http://JBCHostControllerSrv/IJBCHostControllerService/GetHostControllerSwVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="faultErrorFault">
        <soap:fault use="literal" name="faultErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetWebManagerSwVersion">
      <soap:operation soapAction="http://JBCHostControllerSrv/IJBCHostControllerService/GetWebManagerSwVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="faultErrorFault">
        <soap:fault use="literal" name="faultErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SetWebManagerUri">
      <soap:operation soapAction="http://JBCHostControllerSrv/IJBCHostControllerService/SetWebManagerUri" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="faultErrorFault">
        <soap:fault use="literal" name="faultErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RegisterEventLog">
      <soap:operation soapAction="http://JBCHostControllerSrv/IJBCHostControllerService/RegisterEventLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="faultErrorFault">
        <soap:fault use="literal" name="faultErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CImplIJBCHostControllerService">
    <wsdl:port name="BasicHttpBinding_IJBCHostControllerService" binding="tns:BasicHttpBinding_IJBCHostControllerService">
      <soap:address location="http://cad-51:8000/JBCHostControllerSrv/service" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>