openmanager/Manager 3.15.1/RemoteManager/Service References/HostControllerServiceReference/service3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/JBCStationControllerSrv" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/JBCStationControllerSrv" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="dc_FirmwareStation">
    <xs:sequence>
      <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="hardwareVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="language" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="modelVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="protocolVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="softwareVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="stationID" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="dc_FirmwareStation" nillable="true" type="tns:dc_FirmwareStation" />
  <xs:complexType name="ArrayOfdc_FirmwareStation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="dc_FirmwareStation" nillable="true" type="tns:dc_FirmwareStation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfdc_FirmwareStation" nillable="true" type="tns:ArrayOfdc_FirmwareStation" />
</xs:schema>