openmanager/Library 3.15.1/JBC_ConnectRemote/Service References/JBCService/service6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://JBCStationControllerSrv" elementFormDefault="qualified" targetNamespace="http://JBCStationControllerSrv" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://cad-51:8000/JBCStationControllerSrv/service?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/JBCStationControllerSrv" />
  <xs:import schemaLocation="http://cad-51:8000/JBCStationControllerSrv/service?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/JBC_Connect" />
  <xs:import schemaLocation="http://cad-51:8000/JBCStationControllerSrv/service?xsd=xsd7" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://cad-51:8000/JBCStationControllerSrv/service?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/DataJBC" />
  <xs:element name="GetContinuousModeDataCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
        <xs:element minOccurs="0" name="traceID" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContinuousModeDataCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetContinuousModeDataCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartContinuousMode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartContinuousModeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StartContinuousModeResult" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StopContinuousMode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
        <xs:element minOccurs="0" name="traceID" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StopContinuousModeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContinuousModeNextData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
        <xs:element minOccurs="0" name="traceID" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContinuousModeNextDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/JBCStationControllerSrv" minOccurs="0" name="GetContinuousModeNextDataResult" nillable="true" type="q1:dc_ContinuousModeData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContinuousModeNextData_HA">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
        <xs:element minOccurs="0" name="traceID" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContinuousModeNextData_HAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/JBCStationControllerSrv" minOccurs="0" name="GetContinuousModeNextData_HAResult" nillable="true" type="q2:dc_ContinuousModeData_HA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContinuousModeNextDataChunk">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
        <xs:element minOccurs="0" name="traceID" type="xs:unsignedInt" />
        <xs:element minOccurs="0" name="iChunk" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContinuousModeNextDataChunkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/JBCStationControllerSrv" minOccurs="0" name="GetContinuousModeNextDataChunkResult" nillable="true" type="q3:ArrayOfdc_ContinuousModeData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContinuousModeNextDataChunk_HA">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
        <xs:element minOccurs="0" name="traceID" type="xs:unsignedInt" />
        <xs:element minOccurs="0" name="iChunk" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContinuousModeNextDataChunk_HAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/JBCStationControllerSrv" minOccurs="0" name="GetContinuousModeNextDataChunk_HAResult" nillable="true" type="q4:ArrayOfdc_ContinuousModeData_HA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetContinuousMode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="Speed" type="q5:dc_EnumConstJBC.dc_SpeedContinuousMode" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="portA" type="q6:dc_EnumConstJBC.dc_Port" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="portB" type="q7:dc_EnumConstJBC.dc_Port" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="portC" type="q8:dc_EnumConstJBC.dc_Port" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="portD" type="q9:dc_EnumConstJBC.dc_Port" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetContinuousModeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEthernetConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEthernetConfigurationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/JBCStationControllerSrv" minOccurs="0" name="GetEthernetConfigurationResult" nillable="true" type="q10:dc_EthernetConfiguration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRobotConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRobotConfigurationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/JBCStationControllerSrv" minOccurs="0" name="GetRobotConfigurationResult" nillable="true" type="q11:dc_RobotConfiguration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetEthernetConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/JBCStationControllerSrv" minOccurs="0" name="ethernetConfiguration" nillable="true" type="q12:dc_EthernetConfiguration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetEthernetConfigurationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRobotConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/JBCStationControllerSrv" minOccurs="0" name="robotConfiguration" nillable="true" type="q13:dc_RobotConfiguration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRobotConfigurationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPeripheralInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPeripheralInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/JBCStationControllerSrv" minOccurs="0" name="GetAllPeripheralInfoResult" nillable="true" type="q14:ArrayOfdc_PeripheralInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPeripheralInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/JBCStationControllerSrv" minOccurs="0" name="peripheralInfo" nillable="true" type="q15:dc_PeripheralInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPeripheralInfoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProfiles_HA">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProfiles_HAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/JBCStationControllerSrv" minOccurs="0" name="GetAllProfiles_HAResult" nillable="true" type="q16:ArrayOfdc_Profile_HA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSelectedProfile_HA">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSelectedProfile_HAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSelectedProfile_HAResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetProfile_HA">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/JBCStationControllerSrv" minOccurs="0" name="profile" nillable="true" type="q17:dc_Profile_HA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetProfile_HAResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProfile_HA">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
        <xs:element minOccurs="0" name="profileName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProfile_HAResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncProfiles_HA">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncProfiles_HAResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetTransactionResult" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryEndedTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
        <xs:element minOccurs="0" name="transactionID" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryEndedTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueryEndedTransactionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDefaultStationParams">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDefaultStationParamsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetStation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetStationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationListUpdating">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationListUpdatingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetStationListUpdatingResult" nillable="true" type="q18:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStations">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/JBCStationControllerSrv" minOccurs="0" name="listStationsToUpdate" nillable="true" type="q19:ArrayOfdc_FirmwareStation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStationsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LockStation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationUID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="timeout" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LockStationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeactivatePortStation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationUID" nillable="true" type="xs:string" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="portNbr" type="q20:dc_EnumConstJBC.dc_Port" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeactivatePortStationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="messageType" type="q21:dc_EnumConstJBC.dc_MessageType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StartTraceability">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uriTraceManager" nillable="true" type="xs:anyURI" />
        <xs:element minOccurs="0" name="ServerCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartTraceabilityResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StopTraceability">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StopTraceabilityResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NewUserSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationUID" nillable="true" type="xs:string" />
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="portNbr" type="q22:dc_EnumConstJBC.dc_Port" />
        <xs:element minOccurs="0" name="userID" type="xs:long" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="inputDeviceID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewUserSessionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseUserSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationUID" nillable="true" type="xs:string" />
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="portNbr" type="q23:dc_EnumConstJBC.dc_Port" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseUserSessionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthenticatedUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationUID" nillable="true" type="xs:string" />
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="portNbr" type="q24:dc_EnumConstJBC.dc_Port" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthenticatedUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAuthenticatedUserResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDate">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDateResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="newDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddWorkOptionDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="portNbr" type="q25:dc_EnumConstJBC.dc_Port" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddWorkOptionDetailsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteWorkOptionDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="portNbr" type="q26:dc_EnumConstJBC.dc_Port" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteWorkOptionDetailsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowWorkOptionDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="portNbr" type="q27:dc_EnumConstJBC.dc_Port" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowWorkOptionDetailsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowHelpResource">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="portNbr" type="q28:dc_EnumConstJBC.dc_Port" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowHelpResourceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadConfigurationPortStation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationUID" nillable="true" type="xs:string" />
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="portNbr" type="q29:dc_EnumConstJBC.dc_Port" />
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/JBCStationControllerSrv" minOccurs="0" name="configuration" nillable="true" type="q30:dc_ConfigurationPortStation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadConfigurationPortStationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTraceFolder">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTraceFolderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTraceFolderResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTraceSpeed">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationUID" nillable="true" type="xs:string" />
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/DataJBC" minOccurs="0" name="captureSpeed" type="q31:SpeedContinuousMode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTraceSpeedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StartTrace">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationUID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartTraceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StartTracePort">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationUID" nillable="true" type="xs:string" />
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="portNbr" type="q32:dc_EnumConstJBC.dc_Port" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartTracePortResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StopTrace">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationUID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StopTraceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StopTracePort">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationUID" nillable="true" type="xs:string" />
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="portNbr" type="q33:dc_EnumConstJBC.dc_Port" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StopTracePortResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListRecordedDataFiles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListRecordedDataFilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetListRecordedDataFilesResult" nillable="true" type="q34:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecordedData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nSequence" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecordedDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/JBCStationControllerSrv" minOccurs="0" name="GetRecordedDataResult" nillable="true" type="q35:dc_TraceDataSequence" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRecordedDataFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRecordedDataFileResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationControllerInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationControllerInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/JBCStationControllerSrv" minOccurs="0" name="GetStationControllerInfoResult" nillable="true" type="q36:dc_StationController_Info" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StationControllerSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="action" type="q37:dc_EnumConstJBC.dc_StationControllerAction" />
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="conntype" type="q38:dc_EnumConstJBC.dc_StationControllerConnType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StationControllerSearchResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StationControllerIsSearching">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="conntype" type="q39:dc_EnumConstJBC.dc_StationControllerConnType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StationControllerIsSearchingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StationControllerIsSearchingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationCount">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetStationCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetStationListResult" nillable="true" type="q40:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/JBCStationControllerSrv" minOccurs="0" name="GetStationInfoResult" nillable="true" type="q41:dc_Station_Sold_Info" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/JBCStationControllerSrv" minOccurs="0" name="GetStationStatusResult" nillable="true" type="q42:dc_Station_Sold_Status" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationStatus_HA">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationStatus_HAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/JBCStationControllerSrv" minOccurs="0" name="GetStationStatus_HAResult" nillable="true" type="q43:dc_Station_HA_Status" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetControlMode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetControlModeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="GetControlModeResult" type="q44:dc_EnumConstJBC.dc_ControlModeConnection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetControlMode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="mode" type="q45:dc_EnumConstJBC.dc_ControlModeConnection" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetControlModeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRemoteMode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="onoff" type="q46:dc_EnumConstJBC.dc_OnOff" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRemoteModeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="KeepControlMode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KeepControlModeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPortStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="portNbr" type="q47:dc_EnumConstJBC.dc_Port" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPortStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/JBCStationControllerSrv" minOccurs="0" name="GetPortStatusResult" nillable="true" type="q48:dc_StatusTool" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPortStatus_HA">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="portNbr" type="q49:dc_EnumConstJBC.dc_Port" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPortStatus_HAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/JBCStationControllerSrv" minOccurs="0" name="GetPortStatus_HAResult" nillable="true" type="q50:dc_StatusTool_HA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPortStatusTool">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="portNbr" type="q51:dc_EnumConstJBC.dc_Port" />
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="sleep" type="q52:dc_EnumConstJBC.dc_OnOff" />
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="extractor" type="q53:dc_EnumConstJBC.dc_OnOff" />
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="desolder" type="q54:dc_EnumConstJBC.dc_OnOff" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPortStatusToolResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPortStatusTool_HA">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="portNbr" type="q55:dc_EnumConstJBC.dc_Port" />
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="heater" type="q56:dc_EnumConstJBC.dc_OnOff" />
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="suction" type="q57:dc_EnumConstJBC.dc_OnOff" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPortStatusTool_HAResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/JBCStationControllerSrv" minOccurs="0" name="GetStationSettingsResult" nillable="true" type="q58:dc_Station_Sold_Settings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationSettings_HA">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationSettings_HAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/JBCStationControllerSrv" minOccurs="0" name="GetStationSettings_HAResult" nillable="true" type="q59:dc_Station_HA_Settings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationPIN">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationPINResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetStationPINResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetStationName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
        <xs:element minOccurs="0" name="newName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetStationNameResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetStationPIN">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
        <xs:element minOccurs="0" name="newPIN" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetStationPINResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetStationTempUnit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
        <xs:element minOccurs="0" name="newTempUnit" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetStationTempUnitResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetStationMinTemp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
        <xs:element minOccurs="0" name="newTemp" type="xs:int" />
        <xs:element minOccurs="0" name="tempUnit" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetStationMinTempResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetStationMaxTemp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
        <xs:element minOccurs="0" name="newTemp" type="xs:int" />
        <xs:element minOccurs="0" name="tempUnit" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetStationMaxTempResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetStationN2Mode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="onoff" type="q60:dc_EnumConstJBC.dc_OnOff" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetStationN2ModeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetStationHelpText">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="onoff" type="q61:dc_EnumConstJBC.dc_OnOff" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetStationHelpTextResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetStationBeep">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="onoff" type="q62:dc_EnumConstJBC.dc_OnOff" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetStationBeepResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetStationPowerLimit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
        <xs:element minOccurs="0" name="newPowerLimit" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetStationPowerLimitResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetStationMinExtTemp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
        <xs:element minOccurs="0" name="newTemp" type="xs:int" />
        <xs:element minOccurs="0" name="tempUnit" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetStationMinExtTempResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetStationMaxExtTemp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
        <xs:element minOccurs="0" name="newTemp" type="xs:int" />
        <xs:element minOccurs="0" name="tempUnit" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetStationMaxExtTempResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetStationMinFlow">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
        <xs:element minOccurs="0" name="newFlow" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetStationMinFlowResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetStationMaxFlow">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
        <xs:element minOccurs="0" name="newFlow" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetStationMaxFlowResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetStationPINEnabled">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="onoff" type="q63:dc_EnumConstJBC.dc_OnOff" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetStationPINEnabledResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetStationLocked">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="onoff" type="q64:dc_EnumConstJBC.dc_OnOff" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetStationLockedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPortToolSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="portNbr" type="q65:dc_EnumConstJBC.dc_Port" />
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="tool" type="q66:dc_EnumConstJBC.dc_GenericStationTools" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPortToolSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/JBCStationControllerSrv" minOccurs="0" name="GetPortToolSettingsResult" nillable="true" type="q67:dc_PortToolSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPortToolSettings_HA">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="portNbr" type="q68:dc_EnumConstJBC.dc_Port" />
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="tool" type="q69:dc_EnumConstJBC.dc_GenericStationTools" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPortToolSettings_HAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/JBCStationControllerSrv" minOccurs="0" name="GetPortToolSettings_HAResult" nillable="true" type="q70:dc_PortToolSettings_HA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPortToolSelectedTemp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="portNbr" type="q71:dc_EnumConstJBC.dc_Port" />
        <xs:element minOccurs="0" name="temp" type="xs:int" />
        <xs:element minOccurs="0" name="tempUnit" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPortToolSelectedTempResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPortToolSelectedTempStep">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="portNbr" type="q72:dc_EnumConstJBC.dc_Port" />
        <xs:element minOccurs="0" name="signStep" type="xs:int" />
        <xs:element minOccurs="0" name="tempUnit" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPortToolSelectedTempStepResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPortToolSelectedFlow">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="portNbr" type="q73:dc_EnumConstJBC.dc_Port" />
        <xs:element minOccurs="0" name="flow" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPortToolSelectedFlowResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPortToolSelectedExtTemp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="portNbr" type="q74:dc_EnumConstJBC.dc_Port" />
        <xs:element minOccurs="0" name="temp" type="xs:int" />
        <xs:element minOccurs="0" name="tempUnit" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPortToolSelectedExtTempResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPortToolSelectedExtTempStep">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="portNbr" type="q75:dc_EnumConstJBC.dc_Port" />
        <xs:element minOccurs="0" name="signStep" type="xs:int" />
        <xs:element minOccurs="0" name="tempUnit" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPortToolSelectedExtTempStepResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPortToolFixTemp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="portNbr" type="q76:dc_EnumConstJBC.dc_Port" />
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="tool" type="q77:dc_EnumConstJBC.dc_GenericStationTools" />
        <xs:element minOccurs="0" name="temp" type="xs:int" />
        <xs:element minOccurs="0" name="tempUnit" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPortToolFixTempResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPortToolLevels">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="portNbr" type="q78:dc_EnumConstJBC.dc_Port" />
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="tool" type="q79:dc_EnumConstJBC.dc_GenericStationTools" />
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="LevelsOnOff" type="q80:dc_EnumConstJBC.dc_OnOff" />
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="LevelSelected" type="q81:dc_EnumConstJBC.dc_ToolTemperatureLevels" />
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="Level1OnOff" type="q82:dc_EnumConstJBC.dc_OnOff" />
        <xs:element minOccurs="0" name="Level1Temp" type="xs:int" />
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="Level2OnOff" type="q83:dc_EnumConstJBC.dc_OnOff" />
        <xs:element minOccurs="0" name="Level2Temp" type="xs:int" />
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="Level3OnOff" type="q84:dc_EnumConstJBC.dc_OnOff" />
        <xs:element minOccurs="0" name="Level3Temp" type="xs:int" />
        <xs:element minOccurs="0" name="tempUnit" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPortToolLevelsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPortToolLevels_HA">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="portNbr" type="q85:dc_EnumConstJBC.dc_Port" />
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="tool" type="q86:dc_EnumConstJBC.dc_GenericStationTools" />
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="LevelsOnOff" type="q87:dc_EnumConstJBC.dc_OnOff" />
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="LevelSelected" type="q88:dc_EnumConstJBC.dc_ToolTemperatureLevels" />
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="Level1OnOff" type="q89:dc_EnumConstJBC.dc_OnOff" />
        <xs:element minOccurs="0" name="Level1Temp" type="xs:int" />
        <xs:element minOccurs="0" name="Level1Flow" type="xs:int" />
        <xs:element minOccurs="0" name="Level1ExtTemp" type="xs:int" />
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="Level2OnOff" type="q90:dc_EnumConstJBC.dc_OnOff" />
        <xs:element minOccurs="0" name="Level2Temp" type="xs:int" />
        <xs:element minOccurs="0" name="Level2Flow" type="xs:int" />
        <xs:element minOccurs="0" name="Level2ExtTemp" type="xs:int" />
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="Level3OnOff" type="q91:dc_EnumConstJBC.dc_OnOff" />
        <xs:element minOccurs="0" name="Level3Temp" type="xs:int" />
        <xs:element minOccurs="0" name="Level3Flow" type="xs:int" />
        <xs:element minOccurs="0" name="Level3ExtTemp" type="xs:int" />
        <xs:element minOccurs="0" name="tempUnit" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPortToolLevels_HAResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPortToolSelectedLevelEnabled">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="portNbr" type="q92:dc_EnumConstJBC.dc_Port" />
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="tool" type="q93:dc_EnumConstJBC.dc_GenericStationTools" />
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="LevelsOnOff" type="q94:dc_EnumConstJBC.dc_OnOff" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPortToolSelectedLevelEnabledResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPortToolSelectedLevel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="portNbr" type="q95:dc_EnumConstJBC.dc_Port" />
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="tool" type="q96:dc_EnumConstJBC.dc_GenericStationTools" />
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="LevelSelected" type="q97:dc_EnumConstJBC.dc_ToolTemperatureLevels" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPortToolSelectedLevelResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPortToolTempLevelEnabled">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="portNbr" type="q98:dc_EnumConstJBC.dc_Port" />
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="tool" type="q99:dc_EnumConstJBC.dc_GenericStationTools" />
        <xs:element xmlns:q100="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="Level" type="q100:dc_EnumConstJBC.dc_ToolTemperatureLevels" />
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="OnOff" type="q101:dc_EnumConstJBC.dc_OnOff" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPortToolTempLevelEnabledResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPortToolTempLevel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
        <xs:element xmlns:q102="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="portNbr" type="q102:dc_EnumConstJBC.dc_Port" />
        <xs:element xmlns:q103="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="tool" type="q103:dc_EnumConstJBC.dc_GenericStationTools" />
        <xs:element xmlns:q104="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="Level" type="q104:dc_EnumConstJBC.dc_ToolTemperatureLevels" />
        <xs:element minOccurs="0" name="LevelTemp" type="xs:int" />
        <xs:element minOccurs="0" name="tempUnit" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPortToolTempLevelResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPortToolExtTempLevel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
        <xs:element xmlns:q105="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="portNbr" type="q105:dc_EnumConstJBC.dc_Port" />
        <xs:element xmlns:q106="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="tool" type="q106:dc_EnumConstJBC.dc_GenericStationTools" />
        <xs:element xmlns:q107="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="Level" type="q107:dc_EnumConstJBC.dc_ToolTemperatureLevels" />
        <xs:element minOccurs="0" name="LevelTemp" type="xs:int" />
        <xs:element minOccurs="0" name="tempUnit" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPortToolExtTempLevelResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPortToolFlowLevel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
        <xs:element xmlns:q108="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="portNbr" type="q108:dc_EnumConstJBC.dc_Port" />
        <xs:element xmlns:q109="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="tool" type="q109:dc_EnumConstJBC.dc_GenericStationTools" />
        <xs:element xmlns:q110="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="Level" type="q110:dc_EnumConstJBC.dc_ToolTemperatureLevels" />
        <xs:element minOccurs="0" name="LevelFlow" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPortToolFlowLevelResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPortToolProfileMode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
        <xs:element xmlns:q111="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="portNbr" type="q111:dc_EnumConstJBC.dc_Port" />
        <xs:element xmlns:q112="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="OnOff" type="q112:dc_EnumConstJBC.dc_OnOff" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPortToolProfileModeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPortToolSleepDelay">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
        <xs:element xmlns:q113="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="portNbr" type="q113:dc_EnumConstJBC.dc_Port" />
        <xs:element xmlns:q114="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="tool" type="q114:dc_EnumConstJBC.dc_GenericStationTools" />
        <xs:element xmlns:q115="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="delay" type="q115:dc_EnumConstJBC.dc_TimeSleep" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPortToolSleepDelayResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPortToolSleepDelayEnabled">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
        <xs:element xmlns:q116="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="portNbr" type="q116:dc_EnumConstJBC.dc_Port" />
        <xs:element xmlns:q117="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="tool" type="q117:dc_EnumConstJBC.dc_GenericStationTools" />
        <xs:element xmlns:q118="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="OnOff" type="q118:dc_EnumConstJBC.dc_OnOff" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPortToolSleepDelayEnabledResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPortToolHibernationDelay">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
        <xs:element xmlns:q119="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="portNbr" type="q119:dc_EnumConstJBC.dc_Port" />
        <xs:element xmlns:q120="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="tool" type="q120:dc_EnumConstJBC.dc_GenericStationTools" />
        <xs:element xmlns:q121="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="delay" type="q121:dc_EnumConstJBC.dc_TimeHibernation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPortToolHibernationDelayResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPortToolHibernationDelayEnabled">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
        <xs:element xmlns:q122="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="portNbr" type="q122:dc_EnumConstJBC.dc_Port" />
        <xs:element xmlns:q123="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="tool" type="q123:dc_EnumConstJBC.dc_GenericStationTools" />
        <xs:element xmlns:q124="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="OnOff" type="q124:dc_EnumConstJBC.dc_OnOff" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPortToolHibernationDelayEnabledResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPortToolSleepTemp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
        <xs:element xmlns:q125="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="portNbr" type="q125:dc_EnumConstJBC.dc_Port" />
        <xs:element xmlns:q126="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="tool" type="q126:dc_EnumConstJBC.dc_GenericStationTools" />
        <xs:element minOccurs="0" name="temp" type="xs:int" />
        <xs:element minOccurs="0" name="tempUnit" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPortToolSleepTempResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPortToolAdjustTemp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
        <xs:element xmlns:q127="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="portNbr" type="q127:dc_EnumConstJBC.dc_Port" />
        <xs:element xmlns:q128="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="tool" type="q128:dc_EnumConstJBC.dc_GenericStationTools" />
        <xs:element minOccurs="0" name="temp" type="xs:int" />
        <xs:element minOccurs="0" name="tempUnit" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPortToolAdjustTempResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPortToolCartridge">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
        <xs:element xmlns:q129="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="portNbr" type="q129:dc_EnumConstJBC.dc_Port" />
        <xs:element xmlns:q130="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="tool" type="q130:dc_EnumConstJBC.dc_GenericStationTools" />
        <xs:element xmlns:q131="http://schemas.datacontract.org/2004/07/JBCStationControllerSrv" minOccurs="0" name="cartridge" nillable="true" type="q131:dc_Cartridge" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPortToolCartridgeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPortToolTimeToStop">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
        <xs:element xmlns:q132="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="portNbr" type="q132:dc_EnumConstJBC.dc_Port" />
        <xs:element xmlns:q133="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="tool" type="q133:dc_EnumConstJBC.dc_GenericStationTools" />
        <xs:element minOccurs="0" name="timetostop" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPortToolTimeToStopResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPortToolExternalTCMode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
        <xs:element xmlns:q134="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="portNbr" type="q134:dc_EnumConstJBC.dc_Port" />
        <xs:element xmlns:q135="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="tool" type="q135:dc_EnumConstJBC.dc_GenericStationTools" />
        <xs:element xmlns:q136="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="mode" type="q136:dc_EnumConstJBC.dc_ExternalTCMode_HA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPortToolExternalTCModeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPortToolStartMode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
        <xs:element xmlns:q137="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="portNbr" type="q137:dc_EnumConstJBC.dc_Port" />
        <xs:element xmlns:q138="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="tool" type="q138:dc_EnumConstJBC.dc_GenericStationTools" />
        <xs:element xmlns:q139="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="toolButton" type="q139:dc_EnumConstJBC.dc_OnOff" />
        <xs:element xmlns:q140="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="standOut" type="q140:dc_EnumConstJBC.dc_OnOff" />
        <xs:element xmlns:q141="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="pedalAction" type="q141:dc_EnumConstJBC.dc_PedalAction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPortToolStartModeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPortCounters">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
        <xs:element xmlns:q142="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="portNbr" type="q142:dc_EnumConstJBC.dc_Port" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPortCountersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q143="http://schemas.datacontract.org/2004/07/JBCStationControllerSrv" minOccurs="0" name="GetPortCountersResult" nillable="true" type="q143:dc_Port_Counters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetPortPartialCounters">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
        <xs:element xmlns:q144="http://schemas.datacontract.org/2004/07/JBC_Connect" minOccurs="0" name="portNbr" type="q144:dc_EnumConstJBC.dc_Port" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetPortPartialCountersResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContinuousMode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContinuousModeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q145="http://schemas.datacontract.org/2004/07/JBCStationControllerSrv" minOccurs="0" name="GetContinuousModeResult" nillable="true" type="q145:dc_ContinuousModeStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>